---
---

{% include head.html %}
{% include header-index.html %}

{% comment %} Indeed.jobs {% endcomment %}
<div class="Project">
  <div class="Grid--gutters">
    <div class="Grid-col u-md-span3 u-md-offset2">
      <p class="Project-metaText">Project 1 of 3</p>
      <h2 class="Project-title">Indeed.jobs</h2>
    </div>
    <div class="Grid-col u-md-span5">
      <p class="Project-description">Indeed was about to launch its first ever brand campaign, with commercials in multiple countries. The existing indeed.jobs site had existed basically unchanged since it was launched in 2006. With increased awareness of Indeed and potential traffic to indeed.jobs, the brand marketing team wanted a fresh design for a responsive site.</p>
      <p class="Project-metaText">Role: design and develop</p>
      <p class="Project-metaText">Launched: October 2014</p>
      <p class="Project-metaText">Art direction: J Christopher Garcia and Bianca Brigandi</p>
    </div>
  </div>
  <div class="Grid--gutters">
    <div class="Grid-col u-md-offset1 u-md-span10">
      <img class="Project-image" src="img/indeed-jobs/old.png" alt="Old Indeed.jobs">
      <p class="Project-caption">Old and not responsive Indeed.jobs</p>
    </div>
  </div>
  <div class="Grid--gutters">
    <div class="Grid-col u-md-offset1 u-md-span5">
      <img class="Project-image" src="img/indeed-jobs/wireframe-home.png" alt="Wireframe of home page">
    </div>
    <div class="Grid-col u-md-span5">
      <img class="Project-image" src="img/indeed-jobs/wireframe-category.png" alt="Wireframe of category page">
      <p class="Project-description u-xs-mt--lg">The brand team explicitly requested a hero image and landing pages for each job category and location.</p>
      <p class="Project-description">We went through a few iterations of wireframes. These are the ones that got approved.</p>
    </div>
  </div>
  <div class="Grid--gutters">
    <div class="Grid-col u-md-offset3 u-md-span6 u-md-mt--lg">
      <p class="Project-description">To help give the site a unique personality, I suggested photographs of Indeed employees for the home page and department pages and helped to art direct the shoot. I spent a lot of time combing stock photography sites for the location shots.</p>
    </div>
  </div>
  <div class="Grid--gutters">
    <div class="Grid-col u-md-offset1 u-md-span10">
      <img class="Project-image" src="img/indeed-jobs/new.png" alt="New Indeed.jobs">
      <p class="Project-caption">Redesigned Indeed.jobs</p>
    </div>
  </div>
  <div class="Grid--gutters">
    <div class="Grid-col u-md-offset3 u-md-span6 u-md-mt--lg">
      <p class="Project-description">The results of the redesign were positive, with an increase in session duration and decrease in bounce rate.</p>
      <p class="Project-description">The site was redesigned again in July 2016 when Indeed moved to a new system for hosting jobs. You can browse the one I made <a class="Project-link" href="indeed-jobs/index.html" target="_blank">here</a>.</p>
    </div>
  </div>
</div>

{% comment %} Joshua Mark Phillippe {% endcomment %}
<div class="Project">
  <div class="Grid--gutters">
    <div class="Grid-col u-md-span3 u-md-offset2">
      <p class="Project-metaText">Project 2 of 3</p>
      <h2 class="Project-title">Joshua Mark Phillippe</h2>
    </div>
    <div class="Grid-col u-md-span5">
      <p class="Project-description">Joshua Mark Phillippe is an artist from Indianapolis. His portfolio was my first responsive site, built in 2012. It needed some performance enhancements and was ready for a fresh visual design.</p>
      <p class="Project-metaText">Role: design and develop</p>
      <p class="Project-metaText">Launched: October 2016</p>
    </div>
  </div>
  <div class="Grid--gutters">
    <div class="Grid-col u-md-offset2 u-md-span8">
      <img class="Project-image" src="img/jmp/old.png" alt="Old joshuamark.net">
      <p class="Project-caption">Old joshuamark.net. Not terrible, but slow and somewhat dull.</p>
    </div>
  </div>
  <div class="Grid--gutters">
    <div class="Grid-col u-md-offset2 u-md-span8">
      <img class="Project-image" src="img/jmp/old-webpagetest.png" alt="Old joshuamark.net webpagetest results">
      <p class="Project-caption">WebPagetest results for the old site. This is not good.</p>
    </div>
  </div>
  <div class="Grid--gutters">
    <div class="Grid-col u-md-offset4 u-md-span4 u-md-mt--lg">
      <p class="Project-description">The grayscale and cropped treatment was intended to provide a reveal, with color on hover and full image on click. With the redesign, I removed the extra steps and placed full-color, accurately scaled thumbnails on the homepage.</p>
      <p class="Project-description">Of course, with the site's focus on imagery, I had to balance quality with page weight and speed. To do this, I focused on image optimization and am only loading images in view by default. The rest are lazy loaded. The result was a drop of about 77% in page load time.</p>
    </div>
  </div>
  <div class="Grid--gutters">
    <div class="Grid-col u-md-offset2 u-md-span8">
      <img class="Project-image" src="img/jmp/new.png" alt="Old joshuamark.net webpagetest results">
      <p class="Project-caption">New joshuamark.net</p>
    </div>
  </div>
  <div class="Grid--gutters">
    <div class="Grid-col u-md-offset2 u-md-span8">
      <img class="Project-image" src="img/jmp/new-webpagetest.png" alt="New joshuamark.net webpagetest results">
      <p class="Project-caption">Down from ~14.4s load time to ~3.3s, with color and everything.</p>
    </div>
  </div>
  <div class="Grid--gutters">
    <div class="Grid-col u-md-offset4 u-md-span4 u-md-mt--lg">
      <p class="Project-description">Without much organic traffic to Joshua's site, my metrics for success were improved performance and client satisfaction. Thumbs up all around.</p>
      <p class="Project-description"><a href class="Project-link">Visit joshuamark.net</a></p>
    </div>
  </div>
</div>

{% comment %} ICL {% endcomment %}
<div class="Project">
  <div class="Grid--gutters">
    <div class="Grid-col u-md-span3 u-md-offset2">
      <p class="Project-metaText">Project 3 of 3</p>
      <h2 class="Project-title">Indeed Component Library</h2>
    </div>
    <div class="Grid-col u-md-span5">
      <p class="Project-description">The Indeed Component Library is an attempt to consolidate UI code into reusable React components and establish a consistent user interface across Indeed products.</p>
      <p class="Project-metaText">Role: design</p>
      <p class="Project-metaText">Engineering lead: Rebecca Murphey</p>
      <p class="Project-metaText">Launched: August 2016</p>
    </div>
  </div>
  <div class="Grid--gutters">
    <div class="Grid-col u-md-offset4 u-md-span4 u-md-mt--lg">
      <p class="Project-description">Used existing styles to establish modular scale.</p>
    </div>
  </div>
</div>
