---
---

{% include head.html %}
{% include header-resume.html %}

<div class="Resume">
    <div class="Grid--gutters">
        <div class="Grid-col u-md-offset3 u-md-span2">
            <h1 class="Resume-header">My resume</h1>
        </div>
        <div class="Grid-col u-md-span4">
            <a href class="Resume-link">View resume</a><span class="Resume-metadata">99 K</span>
        </div>
    </div>
    <div class="Grid--gutters">
        <div class="Grid-col u-md-offset3 u-md-span2">
            <h2 class="Resume-sectionHeader">About me</h2>
        </div>
        <div class="Grid-col u-md-span4">
            <p class="Resume-bodyCopy">I have over 10 years of web experience in varying roles. I've shipped code to production and designed interfaces used by millions of people every month. My work ethic and sense of humor are distinctively Midwestern. I love what I do.</p>
            <p class="Resume-bodyCopy">I currently live in Austin, TX with my wife and two young kids. We'd like to be closer to family, so I am actively looking for a new position near Richmond, VA or Indianapolis, IN.</p>
            <p class="Resume-bodyCopy">References available upon request.</p>
        </div>
    </div>
</div>
