<div class="Header">
    <h1 class="Header-title">Chris Hadley</h1>
    <p class="Header-copy">I am a UX designer with front-end experience. I live in Austin, TX and am looking for opportunities due northeast.</p>
    <p class="Header-copy">I like to make things from scratch. I like to tickle my kids. I do what I can.</p>
    <a class="Header-link" href>Look at my resume</a><a class="Header-link" href>Contact me</a>
<!--   <div class="Grid-col u-md-span5">
    <p class="Header-body">I am a UX Designer at <a class="Header-link" href="Indeed.com">Indeed.com</a> in Austin, TX.</p>
    <p class="Header-body">I have a Midwestern work ethic and sense of humor.</p>
    <p class="Header-body">I like to work in my garden and tickle my kids.</p>
    <a class="Header-link--spaced u-xs-mt--md" href="/resume">Look at my resume</a><a class="Header-link--spaced" href="/contact">Contact me</a>
  </div>
 --></div>
