<div class="Header Grid--gutters">
  <div class="Grid-col u-md-span2 u-md-offset3">
      <a href="/" class="Header-homeLink"><h1 class="Header-pageTitle">Chris Hadley</h1></a>
  </div>
  <div class="Grid-col u-md-span5">
    <p class="Header-body">I am a UX Designer at <a class="Header-link" href="Indeed.com">Indeed.com</a> in Austin, TX.</p>
    <p class="Header-body">I have a Midwestern work ethic and sense of humor.</p>
    <p class="Header-body">I like to work in my garden and tickle my kids.</p>
    <a class="Header-link--spaced u-xs-mt--md" href="/resume">Look at my resume</a><a class="Header-link--spaced" href="/contact">Contact me</a>
  </div>
</div>
