// --------------------
// Utilities
// --------------------

// $layout-border-style: 1px solid map-get($color-map-fill, light-gray);

// Borders
// -------
// .icl-u-border {
//     border: $layout-border-style;

//     &Bottom {
//         border-bottom: $layout-border-style;
//     }

//     &Top {
//         border-top: $layout-border-style;
//     }

//     &None {
//         border: none;
//     }
// }


@include generate-breakpoint-prefixes {
    &hide { display: none; }
    &block { display: block; }
    &inline { display: inline; }
    &inlineBlock { display: inline-block; }

    &floatLeft { float: left; }
    &floatRight { float: right; }
}


// Column widths and offsets
// adapted from Solid
@include generate-breakpoint-prefixes {
    &span1 { width: percentage(1/12); }
    &span2 { width: percentage(2/12); }
    &span3 { width: percentage(3/12); }
    &span4 { width: percentage(4/12); }
    &span5 { width: percentage(5/12); }
    &span6 { width: percentage(6/12); }
    &span7 { width: percentage(7/12); }
    &span8 { width: percentage(8/12); }
    &span9 { width: percentage(9/12); }
    &span10 { width: percentage(10/12); }
    &span11 { width: percentage(11/12); }
    &span12 { width: percentage(12/12); }

    &offset0 { margin-left: 0; }
    &offset1 { margin-left: percentage(1/12); }
    &offset2 { margin-left: percentage(2/12); }
    &offset3 { margin-left: percentage(3/12); }
    &offset4 { margin-left: percentage(4/12); }
    &offset5 { margin-left: percentage(5/12); }
    &offset6 { margin-left: percentage(6/12); }
    &offset7 { margin-left: percentage(7/12); }
    &offset8 { margin-left: percentage(8/12); }
    &offset9 { margin-left: percentage(9/12); }
    &offset10 { margin-left: percentage(10/12); }
    &offset11 { margin-left: percentage(11/12); }
}

$spacing-xs: map-get($spacing, xs); // 4px
$spacing-sm: map-get($spacing, sm); // 12px
$spacing-md: map-get($spacing, md); // 24px
$spacing-lg: map-get($spacing, lg); // 48px
$spacing-sm: map-get($spacing, xl); // 64px

// Margin and padding utilities
// adapted from solid
@include generate-breakpoint-prefixes {
    &p--none {
        padding: 0 !important;
    }
    &p--sm {
        padding: $spacing-sm !important;
    }

    &p--lg {
        padding: $spacing-lg !important;
    }

    &mx--none {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    &mx--xs {
        margin-left: $spacing-xs !important;
        margin-right: $spacing-xs !important;
    }
    &mx--sm {
        margin-left: $spacing-sm !important;
        margin-right: $spacing-sm !important;
    }
    &mx--md {
        margin-left: $spacing-md !important;
        margin-right: $spacing-md !important;
    }
    &mx--lg {
        margin-left: $spacing-lg !important;
        margin-right: $spacing-lg !important;
    }

    &my--none {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    &my--xs {
        margin-top: $spacing-xs !important;
        margin-bottom: $spacing-xs !important;
    }
    &my--sm {
        margin-top: $spacing-sm !important;
        margin-bottom: $spacing-sm !important;
    }
    &my--md {
        margin-top: $spacing-md !important;
        margin-bottom: $spacing-md !important;
    }
    &my--lg {
        margin-top: $spacing-lg !important;
        margin-bottom: $spacing-lg !important;
    }

    &mt--none {
        margin-top: 0 !important;
    }
    &mt--xs {
        margin-top: $spacing-xs !important;
    }
    &mt--sm {
        margin-top: $spacing-sm !important;
    }
    &mt--md {
        margin-top: $spacing-md !important;
    }
    &mt--lg {
        margin-top: $spacing-lg !important;
    }

    &mb--none {
        margin-bottom: 0 !important;
    }
    &mb--xs {
        margin-bottom: $spacing-xs !important;
    }
    &mb--sm {
        margin-bottom: $spacing-sm !important;
    }
    &mb--md {
        margin-bottom: $spacing-md !important;
    }
    &mb--lg {
        margin-bottom: $spacing-lg !important;
    }

    &ml--none {
        margin-left: 0 !important;
    }
    &ml--xs {
        margin-left: $spacing-xs !important;
    }
    &ml--sm {
        margin-left: $spacing-sm !important;
    }
    &ml--md {
        margin-left: $spacing-md !important;
    }
    &ml--lg {
        margin-left: $spacing-lg !important;
    }

    &mr--none {
        margin-right: 0 !important;
    }
    &mr--xs {
        margin-right: $spacing-xs !important;
    }
    &mr--sm {
        margin-right: $spacing-sm !important;
    }
    &mr--md {
        margin-right: $spacing-md !important;
    }
    &mr--lg {
        margin-right: $spacing-lg !important;
    }
}
