.Contact {
    padding: 3rem 0;

    &-header {
        margin-bottom: 0;
        margin-top: 1rem;

        color: map-get($color, darkgray);
        font-size: map-get($font-size, size-4);
        -webkit-font-smoothing: antialiased;
    }

    &-item {
        margin: $section-vertical-spacing 0;
    }

    &-link {
      @include link-underline(dark);

      padding-bottom: 0.1875rem;

      color: map-get($color, darkgray);
      font-size: map-get($font-size, size-4);
      text-decoration: none;
    }

    &-metaText {
        margin-bottom: 0.5em;
        margin-top: 0;

        color: map-get($color, lightgray);
        font-size: map-get($font-size, size-1);
    }
}
